.input-component {
  border-radius: 4px;
  background: #fff;
  padding: 12px 15px;
  display: block;
  width: 100%;
  opacity: 1;
  transition: 0.3s opacity;

  border: 0;
  outline: 0;
}

.input-component:disabled {
  opacity: 0.54;
}

.input-large {
  padding: 20px;
}
