.room-info-bar-component {
  display: flex;
  align-items: center;
  padding: 40px 20px;
  max-width: 1800px;
  justify-content: flex-end;
}

.room-info-bar-component .exit-button {
  margin-left: 6px;
}
