.configuration-form-component {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-end;
}
.configuration-form-component > * {
  flex: 0;
  min-width: 120px;
  margin: 0 10px;
}
